sdk/local.properties
sdk/libs/armeabi-v7a
sdk/obj
sdk/gen
sdk/.settings
sdk/bin
output

TestCore/bin
TestCore/obj
TestCore/gen
TestCore/local.properties
TestCore/.settings

.vagrant
depot_tools

.gradle
local.properties
.idea
*.iml
build
.DS_Store
