version: 2.17.3

aliases:
  # Workspace
  - &workspace
      ~/twilio-video-app-android

  - &gradle-cache-key
    key: jars-{{ checksum "build.gradle" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
  - &restore-cache-gradle
    <<: *gradle-cache-key
    name: Restore Gradle Cache
  - &save-cache-gradle
    <<: *gradle-cache-key
    name: Save Gradle Cache
    paths:
      - ~/.gradle/caches
      - ~/.gradle/wrapper
  - &get-secrets
    name: Setup secrets
    command: |
      # Internal debug google services
      mkdir -p app/src/internal/debug || true
      echo $GOOGLE_SERVICES_INTERNAL_DEBUG_JSON | base64 -di > app/src/internal/debug/google-services.json
      # Internal release google services
      mkdir -p app/src/internal/release || true
      echo $GOOGLE_SERVICES_INTERNAL_RELEASE_JSON | base64 -di > app/src/internal/release/google-services.json
      # Gradle Properties
      mkdir -p ~/.gradle
      mkdir -p $PWD/secrets
      echo $VIDEO_APP_KEYSTORE | base64 -d > $PWD/secrets/android.keystore
      echo "androidKeystore=$PWD/secrets/android.keystore" >> ~/.gradle/gradle.properties
      echo "androidKeystorePassword=$VIDEO_APP_KEYSTORE_PASSWORD" >> ~/.gradle/gradle.properties
      echo "androidReleaseKeyAlias=$VIDEO_APP_RELEASE_KEY_ALIAS" >> ~/.gradle/gradle.properties
      echo "androidReleaseKeyPassword=$VIDEO_APP_RELEASE_KEY_PASSWORD" >> ~/.gradle/gradle.properties
      echo "org.gradle.jvmargs=-Xmx4608m" >> ~/.gradle/gradle.properties
      echo "APPCENTER_APP_KEY=$APPCENTER_APP_KEY" >> ./local.properties

  - &configure-git-user
    name: Configure git user
    command: |
      git config --global user.email "twilio-sdk-build@twilio.com"
      git config --global user.name "twilio-sdk-build"

  - &build-test-filter
    filters:
      branches:
        ignore:
          - master

  - &publish-to-appcenter-filter
    filters:
      branches:
        only:
          - master

  # Containers
  - &build-defaults
    working_directory: *workspace
    docker:
      - image: circleci/android:api-28-node
    environment:
      - _JAVA_OPTIONS: "-XX:+UnlockExperimentalVMOptions -XX:+UseContainerSupport"

  - &ui-test-defaults
    working_directory: *workspace
    docker:
      - image: google/cloud-sdk:latest
    environment:
    resource_class: medium+

  - &gcloud-auth
    name: Google Cloud Auth
    command: >
      echo $GCP_KEY | base64 -d | gcloud auth activate-service-account --key-file=-

jobs:
  lint:
    <<: *build-defaults
    resource_class: large
    steps:
      - checkout
      - restore-cache: *restore-cache-gradle
      - run: *get-secrets
      - run:
          name: Lint
          command: ./gradlew -q lint
      - store_artifacts:
          path: app/build/reports/lint-results.html
          prefix: app
      - save-cache: *save-cache-gradle

  check-format:
    <<: *build-defaults
    resource_class: medium+
    steps:
      - checkout
      - restore-cache: *restore-cache-gradle
      - run:
          name: Spotless Check
          command: ./gradlew -q spotlessCheck
      - save-cache: *save-cache-gradle

  build-app:
    <<: *build-defaults
    resource_class: large
    steps:
      - checkout
      - attach_workspace:
          at: *workspace
      - restore-cache: *restore-cache-gradle
      - run: *get-secrets
      - run:
          name: Store Test Credentials
          command: echo $TEST_CREDENTIALS_JSON | base64 -di > app/src/androidTest/assets/Credentials/TestCredentials.json
      - run:
          name: Build All APKs
          command: ./gradlew -q app:assemble app:assembleInternalDebugAndroidTest
      - persist_to_workspace:
          root: .
          paths:
            - app/build
      - save-cache: *save-cache-gradle

  unit-tests:
    <<: *build-defaults
    resource_class: large
    steps:
      - checkout
      - attach_workspace:
          at: *workspace
      - restore-cache: *restore-cache-gradle
      - run: *get-secrets
      - run:
          name: Unit Tests
          command: ./gradlew app:testInternalDebugUnitTest
      - save-cache: *save-cache-gradle

  community-unit-tests:
    <<: *build-defaults
    resource_class: large
    steps:
      - checkout
      - attach_workspace:
          at: *workspace
      - restore-cache: *restore-cache-gradle
      - run: *get-secrets
      - run:
          name: Community Unit Tests
          command: ./gradlew app:testCommunityDebugUnitTest
      - save-cache: *save-cache-gradle

  e2e-tests:
    <<: *ui-test-defaults
    steps:
      # Setup
      - checkout
      - attach_workspace:
          at: *workspace
      - run: *gcloud-auth
      - run:
          name: E2E Tests
          command: >
            gcloud firebase test android run --num-flaky-test-attempts=1 --use-orchestrator --environment-variables clearPackageData=true --project video-app-79418
            ui-test-args.yaml:e2e-tests

  integration-tests:
    <<: *ui-test-defaults
    steps:
      # Setup
      - checkout
      - attach_workspace:
          at: *workspace
      - run: *gcloud-auth
      - run:
          name: Integration Tests
          command: >
            gcloud firebase test android run --use-orchestrator --environment-variables clearPackageData=true --project video-app-79418
            ui-test-args.yaml:integration-tests

  build-release-app:
    <<: *build-defaults
    resource_class: large
    steps:
      - checkout
      - attach_workspace:
          at: *workspace
      - restore-cache: *restore-cache-gradle
      - run: *get-secrets
      - run: *configure-git-user
      - run:
          name: Increment Version Code
          command: ./gradlew incrementVersionCode
      - run:
          name: Build Release APK
          command: ./gradlew -q app:assembleInternalRelease
      - persist_to_workspace:
          root: .
          paths:
            - app/build
      - save-cache: *save-cache-gradle

  publish-to-appcenter:
    <<: *build-defaults
    resource_class: medium+
    name: Publish to AppCenter
    steps:
      - attach_workspace:
          at: *workspace
      - run:
          # TODO Ticket to improve build time here https://issues.corp.twilio.com/browse/AHOYAPPS-67
          # TODO Ticket to add latest changelog update https://issues.corp.twilio.com/browse/AHOYAPPS-94
          command: |
            sudo npm install webpack
            echo no | sudo npm install -g appcenter-cli
            appcenter login --token $APPCENTER_API_TOKEN
            appcenter distribute release -f app/build/outputs/apk/internal/release/app-internal-release.apk -g Testers --app nico-hokeyapp-dzyz/Video-App-Internal

workflows:
  version: 2

  build-test:
    jobs:
      - lint:
          <<: *build-test-filter
      - check-format:
          <<: *build-test-filter
      - build-app:
          <<: *build-test-filter
      - unit-tests:
          <<: *build-test-filter
          requires:
            - build-app
            - lint
            - check-format
      - community-unit-tests:
          <<: *build-test-filter
          requires:
            - build-app
            - lint
            - check-format
      - e2e-tests:
          <<: *build-test-filter
          requires:
            - build-app
            - lint
            - check-format
      - integration-tests:
          <<: *build-test-filter
          requires:
            - build-app
            - lint
            - check-format

  publish-to-appcenter:
    jobs:
      - build-release-app:
          <<: *publish-to-appcenter-filter
      - publish-to-appcenter:
          <<: *publish-to-appcenter-filter
          requires:
            - build-release-app